.walletWrapper {
    position: relative;
    display: inline-block;

    .walletIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--Icon-difault-icon, #6E99EC);
        transition: color 0.2s;
        cursor: pointer;
        width: 36px;
        height: 36px;
        position: relative;

        .coinAnimation {
            position: absolute;
            width: 36px;
            height: 36px;
            pointer-events: none;
            z-index: 100;
            transform-origin: center;

            &.entering {
                animation: coinEnterWallet 1s ease-out forwards;
            }

            &.exiting {
                animation: coinExitWallet 1s ease-in forwards;
            }

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .sparkle {
            position: absolute;
            width: 20px;
            height: 20px;
            top: -10px;
            right: -10px;
            opacity: 0;
            pointer-events: none;

            &.active {
                animation: sparkleEffect 0.5s ease-out forwards;
            }
        }
    }

    .walletTooltip {
        // visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.18s;
        min-width: 178px;
        height: 99px;
        padding: var(--Spacing-Spacing-4) var(--Spacing-Spacing-5);
        flex-direction: column;
        align-items: center;
        animation: fadeIn 0.18s;
        z-index: 10;
        border-radius: var(--Border-Radius-s);
        background: var(--Surface-01);
        box-shadow: 0px 39px 11px 0px rgba(168, 188, 230, 0.00), 0px 25px 10px 0px rgba(168, 188, 230, 0.01), 0px 14px 8px 0px rgba(168, 188, 230, 0.03), 0px 6px 6px 0px rgba(168, 188, 230, 0.04), 0px 2px 3px 0px rgba(168, 188, 230, 0.05);
        position: absolute;
        top: calc(100% + 22px);
        left: 50%;
        transform: translateX(-50%);

        .tooltipArrow {
            position: absolute;
            top: -14px;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
            height: 30px;
            overflow: hidden;
            pointer-events: none;
            z-index: -1;
        }

        .tooltipArrow::after {
            content: "";
            display: block;
            width: 22px;
            height: 22px;
            background: var(--Surface-01);
            transform: rotate(45deg);
            position: absolute;
            top: 4px;
            left: 5px;
        }

        .tooltipContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--Spacing-Spacing-4);
            justify-content: center;
            height: 100%;

            .tooltipTitle {
                color: var(--Brand-Primary-blue);
            }

            .coinsRow {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--Spacing-Spacing-3);
                align-self: stretch;

                .coinItem {
                    display: flex;
                    width: 34px;
                    flex-direction: column;
                    align-items: center;
                    gap: 3px;

                    .coinImg {
                        // width: 36px;
                        // height: 36px;
                        // margin-bottom: 2px;
                    }

                    .coinCount {
                        color: #c9a13b;
                    }
                }
            }

            .emptyMsg {
                color: var(--Brand-Primary-blue);
            }
        }
    }

    &:hover {
        .walletIcon {
            color: var(--Icon-able-Icon, #0C4AD5);
        }

        .walletTooltip {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
            display: flex;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(0.98);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes coinEnterWallet {
    0% {
        transform: translate(100%, 20%) rotate(0deg) scale(0.6);
        opacity: 0;
    }

    30% {
        transform: translate(60%, -40%) rotate(120deg) scale(0.6);
        opacity: 1;
    }

    60% {
        transform: translate(30%, -80%) rotate(240deg) scale(0.5);
        opacity: 1;
    }

    85% {
        transform: translate(10%, -40%) rotate(320deg) scale(0.4);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0) rotate(360deg) scale(0.4);
        opacity: 0;
    }
}

@keyframes coinExitWallet {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(0.4);
        opacity: 1;
    }

    30% {
        transform: translate(0, -50%) rotate(120deg) scale(0.5);
        opacity: 1;
    }

    60% {
        transform: translate(50%, -60%) rotate(240deg) scale(0.6);
        opacity: 1;
    }

    80% {
        transform: translate(80%, -30%) rotate(320deg) scale(0.6);
        opacity: 1;
    }

    90% {
        transform: translate(90%, 30%) rotate(400deg) scale(0.6);
        opacity: 1;
    }

    100% {
        transform: translate(100%, 100%) rotate(480deg) scale(0.6);
        opacity: 0;
    }
}

@keyframes sparkleEffect {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}